@()

@main("Event Source demo - Streaming log messages") {
    <h2>Event Source demo - Streaming log messages</h2>
    <div id="events"></div>

    <script type="text/javascript" charset="utf-8">

    var feed = new WebSocket('ws://localhost:9000/streaming/events')
    feed.onopen = function(e) {
      console.log("Connection is open")
    }
    feed.onerror = function(e) {
      console.log("error " + e)
    }

    feed.onmessage = function(e) {
      console.log(e);
      var data = JSON.parse(e.data);
      var line = $('<p></p>');
      line.text(data.message);
      line.addClass(data.level);
      $("#events").prepend(line);
    }
    </script>

}
